body {
	width: 80%;
	background-color: rgba(25, 35, 55, 0.9);
	margin: 0% 10% 0% 10%;
}

#art {
	margin: 20px;
	display: table;
	border-spacing: 1px;
	background-color: black;
	border: 5px solid black;
}

.row {
	display: table-row;
}

.pixel {
	display: table-cell;
	background-color: white;
	width: 50px;
	height: 50px;
}

.Active {
	margin-left: 30px;
	width: 90px;
	height: 60px;
	background-color: #909;
	border: 5px dotted #fab;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border-radius: 28px;
}

.notActive {
	margin-left: 30px;
	width: 90px;
	height: 60px;
	background-color: #202;
	border: 5px dotted #fab;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border-radius: 28px;
}

.color {
	border: 5px dotted black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: table-cell;
}

#usingColor {
	border: 5px dotted #fab;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: table-cell;
}

#usingInstrument {
	width: 70px;
	height: 40px;
	border: 5px dotted #fab;
	background-color: #909;
	border-radius: 35px;
	display: table-cell;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

h1 {
	display: table-cell;
}

#palitra {
	border-spacing: 10px;
	display: table-cell;
	padding-left: 110px;
}
#instruments {
	border-spacing: 10px;
	display: table-cell;
}

#indicators {
	margin-left: 20px;
	display: table;
	border-spacing: 20px;
}

.i-col {
	display: table-column;
	width: 100%;
}

.i-row {
	display: table-row;
	width: 100%;
}

#d1	{
	width: 55%;
	display: table-cell;
	border: 3px solid #fab;
	color: #cba;
	background-color: rgba(0,0,0, 0.97);
	padding-left: 60px;
}

#d2 {
	width: 35%;
	display: table-cell;
	border: 3px solid #fab;
	color: #cba;
	background-color: rgba(0,0,0, 0.97);
	padding-right: 37px;
}

#d0 {
	width: 100%;
	margin: 20px;
	display: table;
}

#d.row {
	width: 100%;
	display: table-row;
}